$box-hovered-bg: #fff;

.sudoku {
  margin: 0 auto;
  background: #aaa;
  width: 90%;
  @media screen and (min-width: 900px) {
    width: 40%;
  }
}

.sudoku__module {
  width: 33.333%;
  display:inline-block;
  margin: 0;
}

.sudoku__box {
	position: relative;
  width: 33.333%;
  height: 50px;
  margin: 0;
  margin-bottom: -5px;
  border: 2px solid black;
  display: inline-block;
	color: black;
	text-align: center;
}

.box__hovered {
	position: absolute;
	z-index: 2000;
	display: none;
	min-width: 130px;
	padding: $pg-padding;
	background: $box-hovered-bg;
	box-shadow: -1px 0px 2px 1px rgba(0,0,0,0.4);
	top: -90px;
	left: 20px;
	&:hover {
		cursor: pointer;
	}
	&:before {
		content: '';
		position: absolute;
		z-index: 200;
		bottom: -10px;
		left: 0;
		border-top: 10px solid $box-hovered-bg;
		border-right: 12px solid transparent;
		border-left: 12px solid transparent;
	}
}

.hovered__list {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.hovered__number {
	display: inline-block;
	&:hover {
		color: red;
	}
}
